$point-color:#ffd500;
$basic-color:#fff;
$bg-color:#000;
$font-size: 0.84vw, 1vw, 1.25vw, 1.67vw, 3.34vw, 6.67vw, 7.8125vw;
//16px, 18px, 24px, 32px, 64px, 128px, 150px
$font-mdtit: 2.5vw;//48px
$font-desc: 1.042vw;//20px
$mar-bot: 2.08vw;//40px
$mar-bot_2:2.34vw;//45px


