$point-color:#ffd500;
$basic-color:#fff;
$bg-color:#000;
$font-size: 0.84vw, 1vw, 1.25vw, 1.67vw, 3.34vw, 6.67vw, 7.8125vw;
//16px, 18px, 24px, 32px, 64px, 128px, 150px
$font-mdtit: 2.5vw;//48px
$font-desc: 1.042vw;//20px
$mar-bot: 2.08vw;//40px
$mar-bot_2:2.34vw;//45px

/*font-size horizontal tablet 태블릿 가로 */
$font-size-tb: 1vw, 1.25vw, 1.5vw, 1.75vw, 3.75vw, 7vw, 9vw;
$font-mdtit-tb: 3vw;
$font-desc-tb: 1.4vw;
$mar-bot_tb: 2.25vw;
$mar-bot_2_tb:2.5vw;

/*font-size vertical tablet 태블릿 세로 */
$font-size-tb2: 1.5vw, 1.75vw, 2vw, 1.75vw, 4.5vw, 8vw, 11vw;
$font-mdtit-tb2: 3vw;
$font-desc-tb2: 1.4vw;
$mar-bot_tb2: 2.25vw;
$mar-bot_2_tb2:2.5vw;

/*xl title font*/
$title-tb: 3.75vw;
$krtitle-tb:1.4vw;


