@use 'variables' as v;
@use 'responsive' as r;

$vw-viewport: 1920;
@function get-vw($size){
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
}

@mixin a_full{
    width: 100%;
    height: 100%;
    display: block;
}
@mixin align{
    display:flex;
    justify-content: space-between;
}
@mixin resImg{
    width: 100%;
    height:auto;
}
@mixin sec{
    width: 100%;
    // overflow: hidden;
    margin-bottom: 5.21vw;
    
}
@mixin sec_inner{
    width: 87.5%;
    margin:0 auto;
    padding-top: 100px;
}
@mixin title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: nth(v.$font-size,5);
    margin-bottom: 1.042vw;
}
@mixin title_kr{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: v.$font-desc;
    margin-bottom: 4.167vw;
}
@mixin subTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: nth(v.$font-size,4);
    margin-bottom:1.198vw;
}
@mixin subTxt{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size:nth(v.$font-size,2);
    margin-bottom: 0.781vw;
}
@mixin about_li{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: nth(v.$font-size,2);
    margin-bottom: 0.781vw;
}
@mixin skill_li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: v.$font-mdtit;
    margin-bottom: 2.083vw;
}
@mixin active_a{
    color:v.$point-color;
    transition: all 0.2s ease;
}

/*responsive*/
@mixin responsive_xl{
    @media screen and (max-width:r.$break-point-xl){
        /*1200px이하*/
        @content;
        
    }
}
@mixin responsive_lg{
    @media screen and (max-width:r.$break-point-lg){
        /*992px이하*/
        @content;
    }
}
@mixin responsive_md{
    @media screen and (max-width:r.$break-point-md){
        /*768px이하*/
        @content;
    }
}
@mixin responsive_sm{
    @media screen and (max-width:r.$break-point-sm){
        /*576px이하*/
        @content;
    }
}

/*기본설정*/

.wrap{
	width: 100%;
	/* overflow: hidden; */
    background: v.$bg-color;
    color:v.$basic-color;
	
}
.yellow{
    color:v.$point-color;
}
.btn{
    border:none;
	color:v.$basic-color;
    background: transparent;
    cursor: pointer;
}
/*헤더*/
header{
    width: 100%;
    height:90px;
    background: v.$bg-color;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    overflow:hidden;
    .header_inner{
        width:90%;
        max-width:1760px;
        padding: 30px 0;
        position:relative;
        box-sizing:border-box;
        margin:0 auto;
        @include align;
        align-items: center;
        .logo{
            width: 117px;
            height: 30px;
            a{
                @include a_full;
                font-size: nth(v.$font-size,3);
            }
        }
        nav{
            // @include align;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                width:20%;
                box-sizing: border-box;
                margin:0 20px;
                padding:10px 20px;
                &:hover a, &:focus a, &:active a{
                    @include active_a;
                }
                a{
                    @include a_full;
                    font-size: nth(v.$font-size,2);
                    &.active{
                        @include active_a;
                        
                    }
                }
            }
        }
        .gnb{
            &_open_btn{
                width: 50px;
                height: 50px;
                position: absolute;
                right:0;
                top:20%;
                cursor:pointer;
                i{
                    font-size:36px;
                    color:v.$basic-color;
                }
                
            }
        }
    }
}

/*클릭시 열리는 메뉴바*/
.gnb{
    .gnb_open{
        width: 100%;
        height: 100vh;
        position:fixed;
        top:0;
        right:0;
        z-index:100;
        background: v.$bg-color;
        .gnb_open_list{
            color:v.$basic-color;
            position:absolute;
            top:50%;
            left: 40%;
            transform: translate(-50%,-50%);
            
            li{
                margin-bottom: 40px;
                
                a{
                    font-size: nth(v.$font-size,6);
                    transition: all 1s;
                    &:active,&:hover,&:focus{
                        @include active_a;
                    }
                }
            }
        }
        .gnb_close{
            max-width: 65px;
            height:auto;
            position:absolute;
            top:5%;
            right: 5%;
            &:active,&:focus,&:hover{
                animation: rotate_close 0.7s ease;
            }
            img{
                @include resImg;
            }
        }
    }
}
@keyframes rotate_close {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
    
}
/*메뉴 열고 닫기*/
.gnb{
    .gnb_open{
        width: 0%;
        overflow:hidden;
        transition: all 0.5s ease;
        opacity: 0;
        &.on{
            width: 100%;
            right:0;
            opacity:1;
            transition: all 0.5s ease;
        }
    }
}
/*섹션 공통*/
section{
    @include sec;
    .inner{
        @include sec_inner;
        .title{
            @include title;
        }
        .title_kr{
            @include title_kr;
        }
    }
}

/*메인 섹션*/
main{
    @include sec;
    overflow: hidden;
    margin-top:90px;
    .inner{
        @include sec_inner;
        position:relative;
        h1{
            font-size: nth(v.$font-size,7);
            margin: 2.604vw 13.3vw 13.02vw 0;
            line-height: 1.1;
        }
        .rotate_text{
            width: 8.33vw;
            height: 8.33vw;
            position:absolute;
            top: 20%;
            right:10%;
            float:left;
            .rotate{
                @include a_full;
                animation: rotate_txt 10s infinite linear;
            }
            .arr-down{
                width: 2.34vw;
                height: 2.34vw;
                position:absolute;
                top: 50%;
                right:50%;
                transform: translate(50%,-50%);
            }
        }
        .value{
            font-size: nth(v.$font-size,5);
            margin-bottom: 10.42vw;
            h2{
                margin-bottom: 1.042vw;
            }
        }
        .introduction{
            @include align;
            box-sizing: border-box;
            padding:1.042vw;
            .intro_img{
                width: 40%;
                padding: 1.302vw;
                box-sizing: border-box;
                &:hover, &:focus{
                    cursor: pointer;
                    transition: all 1s ease;
                }
                img{
                    width:100%;
                    max-width: 603px;
                    height: auto;
                    //max-width:100%;
                    //height:auto;
                    display: block;
                }
            }
            .intro_txt{
                width: 60%;
                padding: 1.302vw;
                // margin-left: 2vw;
                box-sizing: border-box;
                h2{
                    font-size: v.$font-mdtit;
                    margin-bottom: v.$mar-bot_2;
                    line-height: 1.2;
                }
                .keyword{
                    @include align;
                    margin-bottom: v.$mar-bot_2;
                    li{
                        font-size: nth(v.$font-size, 3);
                    }
                }
                .intro_desc{
                    font-size: v.$font-desc;
                    margin-bottom: v.$mar-bot_2;
                    line-height: 1.5;
                }
                .icon{
                    display: flex;
                    width: 50%;
                    margin-bottom: 1.35vw;
                    li{
                        // width: 42px;
                        width: 20%;
                        height: auto;
                        padding:0.8vw;
                        margin-right: 1vw;
                        box-sizing: border-box;
                        &:nth-child(4){
                            transform: translate(0,5px);
                        }
                        a{
                            @include a_full;
                            img{
                                max-width: 45px;
                                width: 100%;
                                height: auto;

                            }
                        }
                    }
                }
                .intro_skill{
                    .intro_skill_title{
                        font-size: nth(v.$font-size, 3);
                        margin-bottom: 1.25vw;
                    }
                    .intro_skill_list{
                        font-size: nth(v.$font-size, 2);
                        li{
                            margin-bottom: 0.67vw;
                        }
                    }
                }
            }
        }
    }
    
}
@keyframes rotate_txt {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

/*About*/
.about{
    overflow: hidden;
    .inner{
        .about_left{
            float:left;
            width: 50%;
            
        }
        .about_right{
            float:right;
            width: 50%;
        }
        .box{
            margin-bottom: 45px;
            .subTitle{
                @include subTitle;
            }
            ul{
                width: 95%;
                padding: 10px;
                li{
                    @include about_li;
                }
        
            }
            .exper_content{
                li{
                    line-height: 1.5;
                }
            }
        }
        
    }
}

/*skill*/
.skill{
    overflow:hidden;
    .inner{
        .skill_container{
            width: 90%;
            @include align;
            ul{
                li{
                    .btn{
                        @include skill_li;
                        &:hover, &:focus, &:active{
                            @include active_a;
                        }
                    }
                }
            }
            /*모달창*/
            .skill_modal{
                width: 100%;
                height: 100vh;
                position:fixed;
                top:0;
                left:0;
                background: rgba(255,255,255,0.5);
                z-index:200;
                .skill_modal_container{
                    background: v.$bg-color;
                    width: 50%;
                    height: 50vh;
                    position:absolute;
                    top:25%;
                    left: 25%;
                    border-radius:40px;
                    color:v.$bg-color;
                    overflow:auto;
                    overscroll-behavior: contain;
                    &::-webkit-scrollbar {
                        display: none; /* Chrome, Safari, Opera*/
                    }
                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                    .skill_modal_box{
                        padding: 4.43vw 4.95vw;
                        .skill_modal_title{
                            margin-bottom: 1.82vw;
                            font-size: nth(v.$font-size,5);
                            color:v.$point-color; 

                        }
                        .skill_modal_desc{
                            font-size: v.$font-desc;
                            color:v.$basic-color;
                            line-height: 1.7;
                        }
                    }
                }
            }
        }
    }
}

/*모달창 열고닫기*/
.skill_modal{
    width: 0%;
    overflow: hidden;
    transition: all 0.8s ease;
    display: none;
    &.show_modal{
        width: 100%;
        left:0;
        display:block;
        transition: all 0.8s ease;
    }
}

/*pers_scroll*/
.pers_scroll{
    width: 100%;
    overflow-x: hidden;
    .marquee_text{
        width: 100vw;
        margin-bottom: 2vh;
        display: flex;
        &:nth-child(2){
            justify-content: flex-end;
        }
        .en_text, .kr_text{
            display: flex;
            font-size: clamp(1vw, 8vw, 4rem);
            padding: 3vh 0;
        }
    }
}

/*work gallery 이미지 슬라이더*/
.work{
    overflow: hidden;
    .inner{
        .slide-wrapper{
            width: 100%;
            overflow-x: hidden;
            margin-bottom: 2.604vw;
            .slide-container{
                width: 1000vw;
                transition:all 0.5s ease;
                .slide-box{
                    width:100vw;
                    float:left;
                    overflow: hidden;
                    @include align;
                    // transition: all 1s ease;
                    .slide-img-box{
                        width: 50%;
                        padding: 1.03vw;
                        box-sizing: border-box;
                        img{
                            @include resImg;
                        }
                    }
                    .slide-txt-box{
                        width: 50%;
                        padding: 2.03vw 1.03vw;
                        box-sizing: border-box;
                        margin-left: 1vw;
                        .title{
                            margin-bottom: 1.823vw;
                            line-height: 1.5
                        }
                        .subTitle{
                            @include subTitle;
                            margin-bottom: 1.823vw;
                        }
                        .subTxt{
                            @include subTxt;
                        }
                        
                        .subIcon{
                            @include align;
                            width: 38%;
                            margin-top: 2.34vw;
                            
                            li{
                                width:20%;
                                margin-right: 0.5vw;
                                &:nth-child(1){
                                    width: get-vw(55px);
                                    height: get-vw(50px);
                                }
                                &:nth-child(2){
                                    width: get-vw(42px);
                                    height: get-vw(48px);
                                }
                                &:nth-child(3){
                                    width: get-vw(30px);
                                    height: get-vw(46px);
                                }
                                &:nth-child(4){
                                    width: get-vw(51px);
                                    height: get-vw(50px);
                                }
                                &:nth-child(5){
                                    width: get-vw(35px);
                                    height: get-vw(46px);
                                }
                                
                                a{
                                    @include a_full;
                                    img{
                                        width: 100%;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn_container{
            display: inline-block;
            margin-left: 10%;
            button{
                padding: 5px;
                margin:5px;
                box-sizing: border-box;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: nth(v.$font-size,2);
                &:hover,&:active,&:focus{
                    @include active_a;
                }
            }
        }
    }
}

/*section blog*/
.blog{
    .inner{
        .title{
            margin-bottom: 100px;
        }
        .blog_content{
            // background: red;
            height: 1250px;
            box-sizing: border-box;
            .blog_icon{
                // background: blue;
                width: 30%;
                float:left;
                position:sticky;
                position:-webkit-sticky;
                top:300px;
                .blog_img{
                    width:7.8125vw;
                    height:7.8125vw;
                    margin:0 auto 30px;
                    a{
                        @include a_full;
                        img{
                            width: 100%;
                            max-width:150px;
                            height:auto;
                        }
                    }
                }
                .blog_desc{
                    font-size: nth(v.$font-size, 2);
                    text-align: center;
                    line-height: 1.4;
                }
            }
            .blog_list{
                // background: teal;
                width: 70%;
                float:right;
                li{
                    padding: 20px;
                    margin: 20px;
                    margin-bottom: 80px;
                    &:hover, &:focus, &:active{
                        @include active_a;
                    }
                    a{
                        @include a_full;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-weight: 300;
                        font-size:v.$font-desc;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.comment{
    .inner{
        .comment_list{
            @include align;
            flex-wrap:wrap;
            /*swiper.js*/
            .swiper-slide{
                width: 80%;
                padding: 2.083vw;
                margin:0 1.042vw 3.125vw 0;
                box-sizing: border-box;
                border:1px solid v.$basic-color;
                border-radius: 40px;
                position:relative;
                .comment_box{
                    font-size: v.$font-desc;
                    margin-bottom: 10%;
                    line-height: 1.5;
                }
                .commenter{
                    position:absolute;
                    bottom:8%;
                    left:6%;
                    line-height: 1.5;
                    font-size: nth(v.$font-size,1);
                    font-weight:400;
                }
                &.swiper-slide-active{
                    transition: all 0.4s ease;
                    
                }
            }
        }
    }
}

/*footer*/
footer{
    width: 100%;
    .thx_para{
        width: 100%;
        padding: 1.823vw;
        box-sizing: border-box;
        background: v.$point-color;
        font-size:nth(v.$font-size,5);
        color:v.$bg-color;
        text-align: center;
    }
    .footer_inner{
        width: 91.67%;
        padding: 8.07vw 0;
        box-sizing:border-box;
        margin:0 auto;
        display:flex;
        .contact-l{
            width: 40%;
            .contact_title{
                font-size: nth(v.$font-size, 7);
                line-height: 1.1;
            }
        }
        .contact-2{
            width: 60%;
            transform: translate3d(0,5%,0);
            .contact_txt{
                font-size: v.$font-desc;
                line-height: 1.5;
                margin-bottom: v.$mar-bot;
            }
            .contact_line{
                width:100%;
                height:1px;
                display: block;
                margin-bottom: v.$mar-bot;
                background: v.$basic-color;
            }
            .contact_adr{
                .e-mail, .phone{
                    font-size: nth(v.$font-size,5);
                    margin-bottom: v.$mar-bot;
                }
                .sns{
                    @include align;
                    float:left;
                    width:30%;
                    li{
                        // width: 42px;
                        width: 20%;
                        height: auto;
                        padding:0.5vw;
                        margin-right: 0.5vw;
                        box-sizing: border-box;
                        &:nth-child(4){
                            transform: translate(0,5px);
                        }
                        a{
                            @include a_full;
                            img{
                                max-width: 45px;
                                @include resImg;

                            }
                        }
                    }
                }
                .copyright{
                    float:right;
                    transform: translate(0,150%);
                }
            }
        }
    }
}


