@charset "UTF-8";
/*헤더*/
header {
  width: 100%;
  height: 100px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header .header_inner {
  width: 1760px;
  padding: 30px 0;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .header_inner .logo {
  width: 117px;
  height: 30px;
}
header .header_inner .logo a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 24px;
}
header .header_inner nav {
  display: flex;
  justify-content: space-between;
}
header .header_inner nav li {
  width: 20%;
  box-sizing: border-box;
  margin: 0px 20px;
  padding: 10px 20px;
}
header .header_inner nav li a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 18px;
}
header .header_inner .gnb_open_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 20%;
  cursor: pointer;
}
header .header_inner .gnb_open_btn i {
  font-size: 36px;
  color: #fff;
}

/*클릭시 열리는 메뉴바*/
.gnb .gnb_open {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #000;
}
.gnb .gnb_open .gnb_open_list {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.gnb .gnb_open .gnb_open_list li {
  margin-bottom: 40px;
}
.gnb .gnb_open .gnb_open_list li a {
  font-size: 128px;
  transition: all 1s;
}
.gnb .gnb_open .gnb_close {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 5%;
  right: 5%;
}
.gnb .gnb_open .gnb_close img {
  width: 100%;
}

/*메뉴 열고 닫기*/
.gnb .gnb_open {
  width: 0%;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0;
}
.gnb .gnb_open.on {
  width: 100%;
  right: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

/*섹션 공통*/
section {
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}
section .inner {
  width: 1680px;
  margin: 0 auto;
  padding-top: 50px;
}
section .inner .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 20px;
}
section .inner .title_kr {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 80px;
}

/*메인 섹션*/
main {
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 100px;
}
main .inner {
  width: 1680px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}
main .inner h1 {
  font-size: 150px;
  margin: 50px 256px 250px 0;
  line-height: 1.1;
}
main .inner .rotate_text {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 20%;
  right: 10%;
  float: left;
}
main .inner .rotate_text .rotate {
  width: 100%;
  height: 100%;
  display: block;
  animation: rotate_txt 10s infinite linear;
}
main .inner .rotate_text .arr-down {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
main .inner .value {
  font-size: 64px;
  margin-bottom: 200px;
}
main .inner .value h2 {
  margin-bottom: 20px;
}
main .inner .introduction {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}
main .inner .introduction .intro_img {
  width: 40%;
}
main .inner .introduction .intro_img img {
  width: 603px;
  height: 744px;
  display: block;
}
main .inner .introduction .intro_txt {
  width: 60%;
  padding: 25px;
  box-sizing: border-box;
}
main .inner .introduction .intro_txt h2 {
  font-size: 48px;
  margin-bottom: 45px;
  line-height: 1.2;
}
main .inner .introduction .intro_txt .keyword {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
main .inner .introduction .intro_txt .keyword li {
  font-size: 24px;
}
main .inner .introduction .intro_txt .intro_desc {
  font-size: 20px;
  margin-bottom: 45px;
  line-height: 1.5;
}
main .inner .introduction .intro_txt .icon {
  display: flex;
  margin-bottom: 45px;
}
main .inner .introduction .intro_txt .icon li {
  width: 42px;
  height: 42px;
  margin-right: 20px;
}
main .inner .introduction .intro_txt .icon li:nth-child(4) {
  width: 45px;
  height: 45px;
  transform: translate(0, 5px);
}
main .inner .introduction .intro_txt .icon li a {
  width: 100%;
  height: 100%;
  display: block;
}
main .inner .introduction .intro_txt .icon li a img {
  width: 100%;
}
main .inner .introduction .intro_txt .intro_skill .intro_skill_title {
  font-size: 24px;
  margin-bottom: 24px;
}
main .inner .introduction .intro_txt .intro_skill .intro_skill_list {
  font-size: 18px;
}
main .inner .introduction .intro_txt .intro_skill .intro_skill_list li {
  margin-bottom: 13px;
}

@keyframes rotate_txt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*About*/
.about .inner .about_left {
  float: left;
  width: 50%;
}
.about .inner .about_right {
  float: right;
  width: 50%;
}
.about .inner .box {
  margin-bottom: 45px;
}
.about .inner .box .subTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 23px;
}
.about .inner .box ul {
  width: 95%;
  padding: 10px;
}
.about .inner .box ul li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 15px;
}
.about .inner .box .exper_content li {
  line-height: 1.5;
}

/*skill*/
.skill .inner .skill_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /*모달창*/
}
.skill .inner .skill_container ul li .btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 40px;
}
.skill .inner .skill_container .skill_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.skill .inner .skill_container .skill_modal .skill_modal_container {
  background: #000;
  width: 50%;
  height: 50vh;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 40px;
  color: #000;
}
.skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box {
  padding: 85px 95px;
}
.skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_title {
  margin-bottom: 35px;
  font-size: 64px;
  color: #ffd500;
}
.skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_desc {
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
}

/*모달창 열고닫기*/
.skill_modal {
  width: 0%;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
}
.skill_modal.on {
  width: 100%;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

/*pers_scroll*/
.pers_scroll {
  width: 100%;
  overflow-x: hidden;
}
.pers_scroll .marquee_text {
  width: 100vw;
  margin-bottom: 2vh;
  display: flex;
}
.pers_scroll .marquee_text:nth-child(2) {
  justify-content: flex-end;
}
.pers_scroll .marquee_text .en_text, .pers_scroll .marquee_text .kr_text {
  display: flex;
  font-size: clamp(1vw, 8vw, 4rem);
  padding: 3vh 0;
}

/*work gallery 이미지 슬라이더*/
.work .inner .slide-wrapper {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 50px;
}
.work .inner .slide-wrapper .slide-container {
  width: 1000vw;
  transition: all 0.5s ease;
}
.work .inner .slide-wrapper .slide-container .slide-box {
  width: 100vw;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-img-box {
  width: 50%;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-img-box img {
  width: 100%;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box {
  width: 50%;
  box-sizing: border-box;
  padding: 30px;
  margin-left: 3%;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title {
  margin-bottom: 35px;
  line-height: 1.5;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 23px;
  margin-bottom: 35px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTxt {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 15px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 45px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(1) {
  width: 55px;
  height: 50px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(2) {
  width: 42px;
  height: 48px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(3) {
  width: 30px;
  height: 46px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(4) {
  width: 51px;
  height: 50px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(5) {
  width: 35px;
  height: 46px;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a {
  width: 100%;
  height: 100%;
  display: block;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a img {
  width: 100%;
}
.work .inner .btn_container {
  display: inline-block;
  margin-left: 10%;
}
.work .inner .btn_container button {
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*section blog*/
.blog .inner .title {
  margin-bottom: 80px;
}
.blog .inner .blog_icon {
  float: left;
  position: sticky;
  top: 50%;
  background: blue;
}
.blog .inner .blog_icon .blog_img {
  width: 200px;
  height: 200px;
}
.blog .inner .blog_icon .blog_img a {
  width: 100%;
  height: 100%;
  display: block;
}
.blog .inner .blog_icon .blog_img a img {
  width: 100%;
}
.blog .inner .blog_list {
  background: red;
}

.comment .inner .comment_list {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index_style.css.map */