@charset "UTF-8";
/*font-size horizontal tablet 태블릿 가로 */
/*font-size vertical tablet 태블릿 세로 */
/*xl title font*/
/*모바일에서 vh 계산*/
/*responsive*/
/*기본설정*/
.wrap {
  width: 100%;
  /* overflow: hidden; */
  background: #000;
  color: #fff;
}

.yellow {
  color: #ffd500;
}

.btn {
  border: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

/*헤더*/
header {
  width: 100%;
  height: 90px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
header .header_inner {
  width: 91.67%;
  max-width: 1760px;
  padding: 30px 0;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_inner .logo {
  width: 117px;
  height: 30px;
}
header .header_inner .logo a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 1.25vw;
}
header .header_inner nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_inner nav li {
  width: 20%;
  box-sizing: border-box;
  margin: 0 20px;
  padding: 10px 20px;
}
header .header_inner nav li:hover a, header .header_inner nav li:focus a, header .header_inner nav li:active a {
  color: #ffd500;
  transition: all 0.2s ease;
}
header .header_inner nav li a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 1vw;
}
header .header_inner nav li a.active {
  color: #ffd500;
  transition: all 0.2s ease;
}
header .header_inner .gnb_open_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 20%;
  cursor: pointer;
}
header .header_inner .gnb_open_btn i {
  font-size: 36px;
  color: #fff;
}
@media screen and (max-width: 1400px) {
  header .header_inner .gnb_open_btn i {
    font-size: 1.875vw;
  }
}

/*클릭시 열리는 메뉴바*/
.gnb .gnb_open {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #000;
}
.gnb .gnb_open .gnb_open_list {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.gnb .gnb_open .gnb_open_list li {
  margin-bottom: 40px;
}
.gnb .gnb_open .gnb_open_list li a {
  font-size: 6.67vw;
  transition: all 1s;
}
.gnb .gnb_open .gnb_open_list li a:active, .gnb .gnb_open .gnb_open_list li a:hover, .gnb .gnb_open .gnb_open_list li a:focus {
  color: #ffd500;
  transition: all 0.2s ease;
}
.gnb .gnb_open .gnb_close {
  max-width: 65px;
  width: 5vw;
  height: auto;
  position: absolute;
  top: 5%;
  right: 5%;
}
.gnb .gnb_open .gnb_close:active, .gnb .gnb_open .gnb_close:focus, .gnb .gnb_open .gnb_close:hover {
  animation: rotate_close 0.7s ease;
}
.gnb .gnb_open .gnb_close img {
  width: 100%;
  height: auto;
}

@keyframes rotate_close {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
/*메뉴 열고 닫기*/
.gnb .gnb_open {
  width: 0%;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0;
}
.gnb .gnb_open.on {
  width: 100%;
  right: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

/*섹션 공통*/
section {
  width: 100%;
  margin-bottom: 5.21vw;
}
section .inner {
  width: 87.5%;
  max-width: 1680px;
  margin: 0 auto;
  padding-top: 5.208vw;
}
section .inner .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.34vw;
  margin-bottom: 1.042vw;
}
section .inner .title_kr {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1.042vw;
  margin-bottom: 4.167vw;
}

/*메인 섹션*/
main {
  width: 100%;
  margin-bottom: 5.21vw;
  overflow: hidden;
  margin-top: 90px;
}
main .inner {
  width: 87.5%;
  max-width: 1680px;
  margin: 0 auto;
  padding-top: 5.208vw;
  position: relative;
}
main .inner h1 {
  font-size: 7.8125vw;
  margin: 2.604vw 13.3vw 13.02vw 0;
  line-height: 1.1;
}
main .inner .rotate_text {
  width: 8.33vw;
  height: 8.33vw;
  position: absolute;
  top: 20%;
  right: 10%;
  float: left;
}
main .inner .rotate_text .rotate {
  width: 100%;
  height: 100%;
  display: block;
  animation: rotate_txt 10s infinite linear;
}
main .inner .rotate_text .arr-down {
  width: 2.34vw;
  height: 2.34vw;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
main .inner .value {
  font-size: 3.34vw;
  margin-bottom: 10.42vw;
}
main .inner .value h2 {
  margin-bottom: 1.042vw;
}
main .inner .introduction {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.042vw;
}
main .inner .introduction .intro_img {
  width: 40%;
  padding: 1.302vw;
  box-sizing: border-box;
}
main .inner .introduction .intro_img:hover, main .inner .introduction .intro_img:focus {
  cursor: pointer;
  transition: all 1s ease;
}
main .inner .introduction .intro_img img {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: block;
}
main .inner .introduction .intro_txt {
  width: 60%;
  padding: 1.302vw;
  box-sizing: border-box;
}
main .inner .introduction .intro_txt h2 {
  font-size: 2.5vw;
  margin-bottom: 2.34vw;
  line-height: 1.2;
}
main .inner .introduction .intro_txt .keyword {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.34vw;
}
main .inner .introduction .intro_txt .keyword li {
  font-size: 1.25vw;
}
main .inner .introduction .intro_txt .intro_desc {
  font-size: 1.042vw;
  margin-bottom: 2.34vw;
  line-height: 1.5;
}
main .inner .introduction .intro_txt .icon {
  display: flex;
  width: 50%;
  margin-bottom: 1.35vw;
}
main .inner .introduction .intro_txt .icon li {
  width: 20%;
  height: auto;
  padding: 0.8vw;
  margin-right: 1vw;
  box-sizing: border-box;
}
main .inner .introduction .intro_txt .icon li:nth-child(4) {
  transform: translate(0, 5px);
}
main .inner .introduction .intro_txt .icon li a {
  width: 100%;
  height: 100%;
  display: block;
}
main .inner .introduction .intro_txt .icon li a img {
  max-width: 45px;
  width: 100%;
  height: auto;
}
main .inner .introduction .intro_txt .intro_skill .intro_skill_title {
  font-size: 1.25vw;
  margin-bottom: 1.25vw;
}
main .inner .introduction .intro_txt .intro_skill .intro_skill_list {
  font-size: 1vw;
}
main .inner .introduction .intro_txt .intro_skill .intro_skill_list li {
  margin-bottom: 0.67vw;
}

@keyframes rotate_txt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*About*/
.about {
  overflow: hidden;
}
.about .inner .about_left {
  float: left;
  width: 50%;
}
.about .inner .about_right {
  float: right;
  width: 50%;
}
.about .inner .box {
  margin-bottom: 2.4vw;
}
.about .inner .box .subTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.67vw;
  margin-bottom: 1.198vw;
}
.about .inner .box ul {
  width: 95%;
  padding: 0.521vw;
}
.about .inner .box ul li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  margin-bottom: 0.781vw;
}
.about .inner .box ul li .atit {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffd500;
  margin-right: 1.5vw;
}
.about .inner .box .exper_content li {
  line-height: 1.5;
}

/*skill*/
.skill {
  overflow: hidden;
}
.skill .inner .skill_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /*모달창*/
}
.skill .inner .skill_container ul li .btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.5vw;
  margin-bottom: 2.083vw;
}
.skill .inner .skill_container ul li .btn:hover, .skill .inner .skill_container ul li .btn:focus, .skill .inner .skill_container ul li .btn:active {
  color: #ffd500;
  transition: all 0.2s ease;
  font-style: italic;
}
.skill .inner .skill_container .skill_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 200;
}
.skill .inner .skill_container .skill_modal .skill_modal_container {
  background: #000;
  width: 50%;
  height: 50vh;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 40px;
  color: #000;
  overflow: auto;
  overscroll-behavior: contain;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.skill .inner .skill_container .skill_modal .skill_modal_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box {
  padding: 4.43vw 4.95vw;
}
.skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_title {
  margin-bottom: 1.82vw;
  font-size: 3.34vw;
  color: #ffd500;
}
.skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_desc {
  font-size: 1.042vw;
  color: #fff;
  line-height: 1.7;
}

/*모달창 열고닫기*/
.skill_modal {
  width: 0%;
  overflow: hidden;
  transition: all 0.8s ease;
  display: none;
}
.skill_modal.show_modal {
  width: 100%;
  left: 0;
  display: block;
  transition: all 0.8s ease;
}

/*pers_scroll*/
.pers_scroll {
  width: 100%;
  overflow-x: hidden;
}
.pers_scroll .marquee_text {
  width: 100vw;
  margin-bottom: 2vh;
  display: flex;
}
.pers_scroll .marquee_text:nth-child(2) {
  justify-content: flex-end;
}
.pers_scroll .marquee_text .en_text, .pers_scroll .marquee_text .kr_text {
  display: flex;
  font-size: clamp(1vw, 8vw, 4rem);
  padding: 3vh 0;
}

/*work gallery 이미지 슬라이더*/
.work {
  overflow: hidden;
}
.work .inner .slide-wrapper {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 2.604vw;
}
.work .inner .slide-wrapper .slide-container {
  width: 1000vw;
  transition: all 0.5s ease;
}
.work .inner .slide-wrapper .slide-container .slide-box {
  width: 100vw;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-img-box {
  width: 50%;
  padding: 1.03vw;
  box-sizing: border-box;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-img-box img {
  width: 100%;
  height: auto;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box {
  width: 50%;
  padding: 2.03vw 1.03vw;
  box-sizing: border-box;
  margin-left: 1vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title {
  margin-bottom: 1.823vw;
  line-height: 1.5;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.67vw;
  margin-bottom: 1.198vw;
  margin-bottom: 1.823vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTxt {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  margin-bottom: 0.781vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon {
  display: flex;
  justify-content: space-between;
  width: 38%;
  margin-top: 2.34vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li {
  width: 20%;
  margin-right: 0.5vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(1) {
  width: 2.8645833333vw;
  height: 2.6041666667vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(2) {
  width: 2.1875vw;
  height: 2.5vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(3) {
  width: 1.5625vw;
  height: 2.3958333333vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(4) {
  width: 2.65625vw;
  height: 2.6041666667vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(5) {
  width: 1.8229166667vw;
  height: 2.3958333333vw;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a {
  width: 100%;
  height: 100%;
  display: block;
}
.work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a img {
  width: 100%;
}
.work .inner .btn_container {
  display: inline-block;
  margin-left: 10%;
}
.work .inner .btn_container button {
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1vw;
}
.work .inner .btn_container button:hover, .work .inner .btn_container button:active, .work .inner .btn_container button:focus {
  color: #ffd500;
  transition: all 0.2s ease;
}

/*section blog*/
.blog .inner .title {
  margin-bottom: 5.208vw;
}
.blog .inner .blog_content {
  height: 1250px;
  box-sizing: border-box;
}
.blog .inner .blog_content .blog_icon {
  width: 30%;
  float: left;
  position: sticky;
  position: -webkit-sticky;
  top: 300px;
}
.blog .inner .blog_content .blog_icon .blog_img {
  width: 7.8125vw;
  height: 7.8125vw;
  margin: 0 auto 30px;
}
.blog .inner .blog_content .blog_icon .blog_img a {
  width: 100%;
  height: 100%;
  display: block;
}
.blog .inner .blog_content .blog_icon .blog_img a img {
  width: 100%;
  max-width: 150px;
  height: auto;
}
.blog .inner .blog_content .blog_icon .blog_desc {
  font-size: 1vw;
  text-align: center;
  line-height: 1.4;
}
.blog .inner .blog_content .blog_list {
  width: 70%;
  float: right;
}
.blog .inner .blog_content .blog_list li {
  padding: 20px;
  margin: 20px;
  margin-bottom: 80px;
}
.blog .inner .blog_content .blog_list li:hover, .blog .inner .blog_content .blog_list li:focus, .blog .inner .blog_content .blog_list li:active {
  color: #ffd500;
  transition: all 0.2s ease;
}
.blog .inner .blog_content .blog_list li a {
  width: 100%;
  height: 100%;
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1.042vw;
  text-align: center;
}

.comment .inner .comment_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*swiper.js*/
}
.comment .inner .comment_list .swiper-slide {
  width: 80%;
  padding: 2.083vw;
  margin: 0 1.042vw 3.125vw 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 40px;
  position: relative;
}
.comment .inner .comment_list .swiper-slide .comment_box {
  font-size: 1.042vw;
  margin-bottom: 10%;
  line-height: 1.5;
}
.comment .inner .comment_list .swiper-slide .commenter {
  position: absolute;
  bottom: 8%;
  left: 6%;
  line-height: 1.5;
  font-size: 0.84vw;
  font-weight: 400;
}
.comment .inner .comment_list .swiper-slide.swiper-slide-active {
  transition: all 0.4s ease;
}

/*footer*/
footer {
  width: 100%;
}
footer .thx_para {
  width: 100%;
  padding: 1.823vw;
  box-sizing: border-box;
  background: #ffd500;
  font-size: 3.34vw;
  color: #000;
  text-align: center;
}
footer .footer_inner {
  width: 91.67%;
  max-width: 1760px;
  padding: 8.07vw 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
}
footer .footer_inner .contact-l {
  width: 40%;
}
footer .footer_inner .contact-l .contact_title {
  font-size: 7.8125vw;
  line-height: 1.1;
}
footer .footer_inner .contact-2 {
  width: 60%;
  transform: translate3d(0, 5%, 0);
}
footer .footer_inner .contact-2 .contact_txt {
  font-size: 1.042vw;
  line-height: 1.5;
  margin-bottom: 2.08vw;
}
footer .footer_inner .contact-2 .mobile_img {
  display: none;
}
footer .footer_inner .contact-2 .contact_line {
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 2.08vw;
  background: #fff;
}
footer .footer_inner .contact-2 .contact_adr .e-mail, footer .footer_inner .contact-2 .contact_adr .phone {
  font-size: 3.34vw;
  margin-bottom: 2.08vw;
}
footer .footer_inner .contact-2 .contact_adr .sns {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 30%;
}
footer .footer_inner .contact-2 .contact_adr .sns li {
  width: 20%;
  height: auto;
  padding: 0.5vw;
  margin-right: 0.5vw;
  box-sizing: border-box;
}
footer .footer_inner .contact-2 .contact_adr .sns li:nth-child(4) {
  transform: translate(0, 5px);
}
footer .footer_inner .contact-2 .contact_adr .sns li a {
  width: 100%;
  height: 100%;
  display: block;
}
footer .footer_inner .contact-2 .contact_adr .sns li a img {
  max-width: 45px;
  width: 100%;
  height: auto;
}
footer .footer_inner .contact-2 .contact_adr .copyright {
  float: right;
  transform: translate(0, 150%);
  font-size: 0.84vw;
}

/*responsive web 반응형*/
@media screen and (max-width: 1200px) {
  /*1200px이하*/
  /*헤더*/
  header {
    height: 80px;
    padding-top: 1.563vw;
    box-sizing: border-box;
  }
  header .header_inner {
    padding: 1.563vw 0;
  }
  header .header_inner .logo a {
    font-size: 1.5vw;
  }
  header .header_inner nav li a {
    font-size: 1.25vw;
  }
  /*섹션 공통*/
  section .inner {
    padding-top: 8vw;
  }
  section .inner .title {
    font-size: 3.75vw;
    margin-bottom: 1.2vw;
  }
  section .inner .title_kr {
    font-size: 1.4vw;
    margin-bottom: 4.5vw;
  }
  /*main*/
  main {
    margin-top: 80px;
  }
  main .inner h1 {
    font-size: 9vw;
  }
  main .inner .rotate_text {
    top: 30%;
    right: 5%;
  }
  main .inner .value {
    font-size: 3.75vw;
  }
  main .inner .introduction .intro_txt h2 {
    font-size: 3vw;
    margin-bottom: 2.5vw;
    line-height: 1.5;
  }
  main .inner .introduction .intro_txt .keyword {
    margin-bottom: 2.5vw;
  }
  main .inner .introduction .intro_txt .keyword li {
    font-size: 1.5vw;
  }
  main .inner .introduction .intro_txt .intro_desc {
    font-size: 1.25vw;
  }
  main .inner .introduction .intro_txt .intro_skill {
    display: none;
  }
  /*About*/
  .about .inner .box {
    padding: 1.25vw;
    box-sizing: border-box;
  }
  .about .inner .box .subTitle {
    font-size: 2vw;
  }
  .about .inner .box ul li {
    font-size: 1.25vw;
    margin-bottom: 1vw;
  }
  .about .inner .box .exper_content li {
    line-height: 1.5;
  }
  /*skill*/
  .skill .inner .skill_container ul li .btn {
    font-size: 3vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container {
    height: 30vh;
    top: 33.67%;
    left: 25%;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_title {
    font-size: 3.75vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_desc {
    font-size: 1.25vw;
    line-height: 1.7;
  }
  /*pers_scroll*/
  .pers_scroll .marquee_text {
    margin-bottom: 2vh;
  }
  .pers_scroll .marquee_text .en_text, .pers_scroll .marquee_text .kr_text {
    padding: 2vh 0;
  }
  /*work*/
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTitle {
    font-size: 1.75vw;
    margin-bottom: 1.823vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTxt {
    font-size: 1.25vw;
  }
  .work .inner .btn_container button {
    padding: 0.3vw;
    margin: 0.3vw;
    font-size: 1.25vw;
  }
  /*blog*/
  .blog .inner .title {
    margin-bottom: 4.5vw;
  }
  .blog .inner .blog_content {
    height: 95vw;
    box-sizing: border-box;
  }
  .blog .inner .blog_content .blog_icon {
    top: 20vw;
  }
  .blog .inner .blog_content .blog_icon .blog_img {
    width: 7.8125vw;
    height: 7.8125vw;
    margin: 0 auto 1.563vw;
  }
  .blog .inner .blog_content .blog_icon .blog_desc {
    font-size: 1.25vw;
    text-align: center;
    line-height: 1.4;
  }
  .blog .inner .blog_content .blog_list li {
    padding: 2.5vw;
    margin: 2.5vw;
    margin-bottom: 4.167vw;
  }
  .blog .inner .blog_content .blog_list li a {
    font-size: 1.4vw;
  }
  /*comment*/
  .comment .inner .comment_list {
    padding: 1vw;
    box-sizing: border-box;
  }
  .comment .inner .comment_list .swiper-slide {
    width: 90%;
    padding: 3vw;
  }
  .comment .inner .comment_list .swiper-slide .comment_box {
    font-size: 1.4vw;
    line-height: 1.6;
  }
  .comment .inner .comment_list .swiper-slide .commenter {
    position: absolute;
    bottom: 8%;
    left: 8%;
    line-height: 1.6;
    font-size: 1vw;
  }
  /*footer*/
  footer .thx_para {
    padding: 2vw;
    font-size: 3.75vw;
  }
  footer .footer_inner {
    width: 95%;
    max-width: 1760px;
  }
  footer .footer_inner .contact-l {
    margin-right: 5vw;
  }
  footer .footer_inner .contact-l .contact_title {
    font-size: 9vw;
    line-height: 1.1;
  }
  footer .footer_inner .contact-2 {
    width: 60%;
    transform: translate3d(0, 5%, 0);
  }
  footer .footer_inner .contact-2 .contact_txt {
    font-size: 1.4vw;
    line-height: 1.5;
    margin-bottom: 2.25vw;
  }
  footer .footer_inner .contact-2 .contact_line {
    margin-bottom: 2.25vw;
  }
  footer .footer_inner .contact-2 .contact_adr .e-mail, footer .footer_inner .contact-2 .contact_adr .phone {
    font-size: 3.75vw;
    margin-bottom: 2.25vw;
  }
  footer .footer_inner .contact-2 .contact_adr .sns li:nth-child(4) {
    transform: translate(0, 5%);
  }
  footer .footer_inner .contact-2 .contact_adr .copyright {
    transform: translate(0, 148%);
    font-size: 1vw;
  }
}
/*992px 이하 태블릿 세로*/
@media screen and (max-width: 992px) {
  /*992px이하*/
  /*헤더*/
  header {
    height: 60px;
    padding-top: 1vw;
  }
  header .header_inner {
    padding: 1vw 0;
  }
  header .header_inner .logo {
    width: auto;
    transform: translateY(5%);
  }
  header .header_inner .logo a {
    font-size: 2vw;
  }
  header .header_inner nav {
    transform: translateY(-10%);
    justify-content: space-between;
  }
  header .header_inner nav li {
    margin: 0 1.042vw;
    padding: 0.521vw 1.042vw;
  }
  header .header_inner nav li a {
    font-size: 1.5vw;
  }
  header .header_inner .gnb_open_btn {
    width: auto;
    top: -10%;
  }
  /*클릭시 열리는 메뉴바*/
  .gnb .gnb_open .gnb_open_list {
    width: 90%;
    top: 50%;
    left: 50%;
  }
  .gnb .gnb_open .gnb_open_list li {
    margin-bottom: 2.083vw;
  }
  .gnb .gnb_open .gnb_open_list li a {
    font-size: 10vw;
  }
  .gnb .gnb_open .gnb_close {
    max-width: 65px;
    width: 7vw;
  }
  /*섹션 공통*/
  section .inner {
    padding-top: 10vw;
  }
  section .inner .title {
    font-size: 6.5vw;
    margin-bottom: 1.5vw;
  }
  section .inner .title_kr {
    font-size: 1.75vw;
    margin-bottom: 6vw;
  }
  /*main*/
  main {
    margin-top: 60px;
  }
  main .inner h1 {
    width: 100%;
    margin: 25vw auto;
    text-align: center;
    font-size: 11vw;
  }
  main .inner .rotate_text {
    display: none;
  }
  main .inner .value {
    font-size: 5.5vw;
    margin: 20vw auto;
  }
  main .inner .introduction {
    position: relative;
    padding-top: 18vw;
  }
  main .inner .introduction .intro_img {
    width: 40%;
    margin: 0 auto;
    border-radius: 20%;
  }
  main .inner .introduction .intro_img img {
    width: 100%;
    max-width: 830px;
  }
  main .inner .introduction .intro_txt {
    width: 60%;
  }
  main .inner .introduction .intro_txt h2 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 3%;
    font-size: 4.8vw;
    margin-bottom: 2.5vw;
    line-height: 1.5;
  }
  main .inner .introduction .intro_txt .keyword {
    margin-bottom: 2.5vw;
    flex-wrap: wrap;
  }
  main .inner .introduction .intro_txt .keyword li {
    font-size: 1.75vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
  }
  main .inner .introduction .intro_txt .intro_desc {
    font-size: 1.75vw;
  }
  main .inner .introduction .intro_txt .icon {
    display: none;
  }
  main .inner .introduction .intro_txt .intro_skill {
    display: none;
  }
  /*About*/
  .about {
    height: auto;
  }
  .about .inner .about_left {
    clear: both;
    width: 100%;
  }
  .about .inner .about_right {
    clear: both;
    width: 100%;
  }
  .about .inner .box {
    padding: 1.25vw;
    box-sizing: border-box;
  }
  .about .inner .box .subTitle {
    font-size: 4vw;
  }
  .about .inner .box ul {
    padding: 1.521vw;
  }
  .about .inner .box ul li {
    font-size: 1.75vw;
    margin-bottom: 1vw;
  }
  .about .inner .box .exper_content li {
    line-height: 1.5;
  }
  /*skill*/
  .skill .inner .skill_container {
    width: 95%;
    flex-wrap: wrap;
  }
  .skill .inner .skill_container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .skill .inner .skill_container ul li {
    width: 45%;
    padding: 1.5vw;
    margin-bottom: 1.5vw;
  }
  .skill .inner .skill_container ul li .btn {
    font-size: 6vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container {
    height: auto;
    top: 25%;
    left: 25%;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_title {
    font-size: 5vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_desc {
    font-size: 2vw;
    line-height: 1.7;
  }
  /*pers_scroll*/
  .pers_scroll .marquee_text {
    margin-bottom: 2vh;
  }
  .pers_scroll .marquee_text .en_text, .pers_scroll .marquee_text .kr_text {
    padding: 2vh 0;
  }
  /*work*/
  .work .inner .slide-wrapper .slide-container .slide-box {
    float: left;
    position: relative;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-img-box {
    background: #000;
    width: 100%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-img-box img {
    width: 100%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    padding: 1.25vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title {
    font-size: 5.5vw;
    margin-bottom: 1vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title br {
    display: none;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTitle {
    font-size: 3.25vw;
    margin-bottom: 2vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTxt {
    font-size: 2vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon {
    position: absolute;
    width: 28%;
    bottom: 3%;
    left: 0%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li {
    width: 20%;
    margin-right: 0;
    transform: scale(0.9);
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(1) {
    width: 55px;
    height: 50px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(2) {
    width: 40px;
    height: 47px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(3) {
    width: 30px;
    height: 45px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(4) {
    width: 51px;
    height: 50px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(5) {
    width: 35px;
    height: 46px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a img {
    width: 100%;
  }
  .work .inner .btn_container {
    margin-left: 25%;
  }
  .work .inner .btn_container button {
    padding: 0.5vw;
    margin: 0.5vw;
    font-size: 1.75vw;
  }
  /*blog*/
  .blog {
    margin-bottom: 7vw;
  }
  .blog .inner .title {
    margin-bottom: 9vw;
  }
  .blog .inner .blog_content {
    height: 1320px;
    padding: 7vw auto;
    box-sizing: border-box;
  }
  .blog .inner .blog_content .blog_icon {
    position: static;
    width: 100%;
    margin-bottom: 5vw;
  }
  .blog .inner .blog_content .blog_icon .blog_img {
    width: 15vw;
    height: 15vw;
    margin: 0 auto 3vw;
  }
  .blog .inner .blog_content .blog_icon .blog_desc {
    font-size: 2vw;
    text-align: center;
    line-height: 1.7;
  }
  .blog .inner .blog_content .blog_list {
    clear: both;
    width: 100%;
  }
  .blog .inner .blog_content .blog_list li {
    padding: 2.5vw;
    margin: 7.5vw;
    margin-bottom: 4.167vw;
    border-radius: 20px;
  }
  .blog .inner .blog_content .blog_list li a {
    font-size: 2vw;
  }
  /*comment*/
  .comment .inner .comment_list {
    padding: 1vw;
    box-sizing: border-box;
  }
  .comment .inner .comment_list .swiper-slide {
    width: 90%;
    padding: 5vw;
  }
  .comment .inner .comment_list .swiper-slide .comment_box {
    font-size: 2.3vw;
    line-height: 1.6;
  }
  .comment .inner .comment_list .swiper-slide .commenter {
    position: absolute;
    bottom: 8%;
    left: 6%;
    line-height: 1.6;
    font-size: 1.5vw;
  }
  /*footer*/
  footer .thx_para {
    padding: 3.25vw;
    font-size: 5vw;
  }
  footer .footer_inner {
    width: 95%;
    max-width: 1760px;
  }
  footer .footer_inner .contact-l {
    display: none;
  }
  footer .footer_inner .contact-2 {
    width: 91.67%;
    margin: 0 auto;
    text-align: center;
    transform: translate3d(0, 5%, 0);
  }
  footer .footer_inner .contact-2 .contact_txt {
    font-size: 2vw;
    line-height: 1.5;
    margin-bottom: 2.5vw;
  }
  footer .footer_inner .contact-2 .contact_line {
    margin: 0 auto;
    margin-bottom: 2.5vw;
  }
  footer .footer_inner .contact-2 .contact_adr .e-mail, footer .footer_inner .contact-2 .contact_adr .phone {
    font-size: 5vw;
    margin-bottom: 2.5vw;
  }
  footer .footer_inner .contact-2 .contact_adr .phone {
    margin-bottom: 4vw;
  }
  footer .footer_inner .contact-2 .contact_adr .sns li:nth-child(4) {
    transform: translate(0, 5%);
  }
  footer .footer_inner .contact-2 .contact_adr .copyright {
    transform: translate(0, 148%);
    font-size: 1.5vw;
  }
}
/*768px 이하 태블릿*/
@media screen and (max-width: 768px) {
  /*768px이하*/
  /*헤더*/
  header {
    height: 60px;
    padding-top: 1vw;
  }
  header .header_inner {
    padding: 1vw 0;
  }
  header .header_inner .logo {
    width: auto;
    transform: translateY(5%);
  }
  header .header_inner .logo a {
    font-size: 2vw;
  }
  header .header_inner nav {
    transform: translateY(-10%);
    justify-content: space-between;
  }
  header .header_inner nav li {
    margin: 0 1.042vw;
    padding: 0.521vw 1.042vw;
  }
  header .header_inner nav li a {
    font-size: 1.5vw;
  }
  header .header_inner .gnb_open_btn {
    width: auto;
    top: -10%;
  }
  /*클릭시 열리는 메뉴바*/
  .gnb .gnb_open .gnb_open_list {
    width: 90%;
    top: 50%;
    left: 50%;
  }
  .gnb .gnb_open .gnb_open_list li {
    margin-bottom: 2.083vw;
  }
  .gnb .gnb_open .gnb_open_list li a {
    font-size: 10vw;
  }
  .gnb .gnb_open .gnb_close {
    max-width: 65px;
    width: 7vw;
  }
  /*섹션 공통*/
  section .inner {
    padding-top: 10vw;
  }
  section .inner .title {
    font-size: 6.5vw;
    margin-bottom: 1.5vw;
  }
  section .inner .title_kr {
    font-size: 1.75vw;
    margin-bottom: 6vw;
  }
  /*main*/
  main {
    margin-top: 60px;
  }
  main .inner h1 {
    width: 100%;
    margin: 25vw auto;
    text-align: center;
    font-size: 11vw;
  }
  main .inner .rotate_text {
    display: none;
  }
  main .inner .value {
    font-size: 5.5vw;
    margin: 20vw auto;
  }
  main .inner .introduction {
    position: relative;
    padding-top: 18vw;
  }
  main .inner .introduction .intro_img {
    width: 40%;
    margin: 0 auto;
    border-radius: 20%;
  }
  main .inner .introduction .intro_img img {
    width: 100%;
    max-width: 830px;
  }
  main .inner .introduction .intro_txt {
    width: 60%;
  }
  main .inner .introduction .intro_txt h2 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 3%;
    font-size: 4.8vw;
    margin-bottom: 2.5vw;
    line-height: 1.5;
  }
  main .inner .introduction .intro_txt .keyword {
    margin-bottom: 2.5vw;
    flex-wrap: wrap;
  }
  main .inner .introduction .intro_txt .keyword li {
    font-size: 1.75vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
  }
  main .inner .introduction .intro_txt .intro_desc {
    font-size: 1.75vw;
  }
  main .inner .introduction .intro_txt .icon {
    display: none;
  }
  main .inner .introduction .intro_txt .intro_skill {
    display: none;
  }
  /*About*/
  .about {
    height: auto;
  }
  .about .inner .about_left {
    clear: both;
    width: 100%;
  }
  .about .inner .about_right {
    clear: both;
    width: 100%;
  }
  .about .inner .box {
    padding: 1.25vw;
    box-sizing: border-box;
  }
  .about .inner .box .subTitle {
    font-size: 4vw;
  }
  .about .inner .box ul {
    padding: 1.521vw;
  }
  .about .inner .box ul li {
    font-size: 1.75vw;
    margin-bottom: 1vw;
  }
  .about .inner .box .exper_content li {
    line-height: 1.5;
  }
  /*skill*/
  .skill .inner .skill_container {
    width: 95%;
    flex-wrap: wrap;
  }
  .skill .inner .skill_container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .skill .inner .skill_container ul li {
    width: 45%;
    padding: 1.5vw;
    margin-bottom: 1.5vw;
  }
  .skill .inner .skill_container ul li .btn {
    font-size: 6vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container {
    height: auto;
    top: 25%;
    left: 25%;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_title {
    font-size: 5vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_desc {
    font-size: 2vw;
    line-height: 1.7;
  }
  /*pers_scroll*/
  .pers_scroll .marquee_text {
    margin-bottom: 2vh;
  }
  .pers_scroll .marquee_text .en_text, .pers_scroll .marquee_text .kr_text {
    padding: 2vh 0;
  }
  /*work*/
  .work .inner .slide-wrapper .slide-container .slide-box {
    float: left;
    position: relative;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-img-box {
    background: #000;
    width: 100%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-img-box img {
    width: 100%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    padding: 1.25vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title {
    font-size: 5.5vw;
    margin-bottom: 1vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title br {
    display: none;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTitle {
    font-size: 3.25vw;
    margin-bottom: 2vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTxt {
    font-size: 2vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon {
    position: absolute;
    width: 28%;
    bottom: 3%;
    left: 0%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li {
    width: 20%;
    margin-right: 0;
    transform: scale(0.9);
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(1) {
    width: 55px;
    height: 50px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(2) {
    width: 40px;
    height: 47px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(3) {
    width: 30px;
    height: 45px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(4) {
    width: 51px;
    height: 50px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li:nth-child(5) {
    width: 35px;
    height: 46px;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a img {
    width: 100%;
  }
  .work .inner .btn_container {
    margin-left: 25%;
  }
  .work .inner .btn_container button {
    padding: 0.5vw;
    margin: 0.5vw;
    font-size: 1.75vw;
  }
  /*blog*/
  .blog {
    margin-bottom: 7vw;
  }
  .blog .inner .title {
    margin-bottom: 9vw;
  }
  .blog .inner .blog_content {
    height: 1320px;
    padding: 7vw auto;
    box-sizing: border-box;
  }
  .blog .inner .blog_content .blog_icon {
    position: static;
    width: 100%;
    margin-bottom: 5vw;
  }
  .blog .inner .blog_content .blog_icon .blog_img {
    width: 15vw;
    height: 15vw;
    margin: 0 auto 3vw;
  }
  .blog .inner .blog_content .blog_icon .blog_desc {
    font-size: 2vw;
    text-align: center;
    line-height: 1.7;
  }
  .blog .inner .blog_content .blog_list {
    clear: both;
    width: 100%;
  }
  .blog .inner .blog_content .blog_list li {
    padding: 2.5vw;
    margin: 7.5vw;
    margin-bottom: 4.167vw;
    border-radius: 20px;
  }
  .blog .inner .blog_content .blog_list li a {
    font-size: 2vw;
  }
  /*comment*/
  .comment .inner .comment_list {
    padding: 1vw;
    box-sizing: border-box;
  }
  .comment .inner .comment_list .swiper-slide {
    width: 90%;
    padding: 5vw;
  }
  .comment .inner .comment_list .swiper-slide .comment_box {
    font-size: 2.3vw;
    line-height: 1.6;
  }
  .comment .inner .comment_list .swiper-slide .commenter {
    position: absolute;
    bottom: 8%;
    left: 6%;
    line-height: 1.6;
    font-size: 1.5vw;
  }
  /*footer*/
  footer .thx_para {
    padding: 3.25vw;
    font-size: 5vw;
  }
  footer .footer_inner {
    width: 95%;
    max-width: 1760px;
  }
  footer .footer_inner .contact-l {
    display: none;
  }
  footer .footer_inner .contact-2 {
    width: 91.67%;
    margin: 0 auto;
    text-align: center;
    transform: translate3d(0, 5%, 0);
  }
  footer .footer_inner .contact-2 .contact_txt {
    font-size: 2vw;
    line-height: 1.5;
    margin-bottom: 2.5vw;
  }
  footer .footer_inner .contact-2 .contact_line {
    margin: 0 auto;
    margin-bottom: 2.5vw;
  }
  footer .footer_inner .contact-2 .contact_adr .e-mail, footer .footer_inner .contact-2 .contact_adr .phone {
    font-size: 5vw;
    margin-bottom: 2.5vw;
  }
  footer .footer_inner .contact-2 .contact_adr .phone {
    margin-bottom: 4vw;
  }
  footer .footer_inner .contact-2 .contact_adr .sns li:nth-child(4) {
    transform: translate(0, 5%);
  }
  footer .footer_inner .contact-2 .contact_adr .copyright {
    transform: translate(0, 148%);
    font-size: 1.5vw;
  }
}
/*576px 이하 모바일*/
@media screen and (max-width: 576px) {
  /*500px이하*/
  /*헤더*/
  header {
    height: 60px;
    padding-top: 1vw;
  }
  header .header_inner {
    padding: 1vw;
  }
  header .header_inner .logo {
    width: auto;
    padding: 1vw 0;
    transform: translateY(15%);
  }
  header .header_inner .logo a {
    font-size: 3vw;
  }
  header .header_inner nav {
    transform: translate(-5%, -10%);
    justify-content: space-between;
  }
  header .header_inner nav li {
    margin: 0 1.042vw;
    padding: 0.521vw 1.042vw;
  }
  header .header_inner nav li a {
    font-size: 1.75vw;
  }
  header .header_inner .gnb_open_btn {
    width: auto;
    top: 0%;
  }
  header .header_inner .gnb_open_btn i {
    font-size: 3.5vw;
  }
  /*클릭시 열리는 메뉴바*/
  .gnb .gnb_open .gnb_open_list {
    width: 90%;
    top: 50%;
    left: 50%;
  }
  .gnb .gnb_open .gnb_open_list li {
    margin-bottom: 2.083vw;
  }
  .gnb .gnb_open .gnb_open_list li a {
    font-size: 10vw;
  }
  .gnb .gnb_open .gnb_close {
    max-width: 65px;
    width: 7vw;
  }
  /*섹션 공통*/
  section {
    height: calc(var(--var, 1vh) * 100);
    margin-bottom: 8.21vw;
  }
  section .inner {
    padding-top: 15vw;
  }
  section .inner .title {
    font-size: 9.8vw;
    margin-bottom: 9vw;
  }
  section .inner .title_kr {
    display: none;
  }
  /*main*/
  main {
    margin-top: 60px;
  }
  main .inner {
    /*소개 섹션*/
  }
  main .inner h1 {
    width: 100%;
    height: calc(var(--var, 1vh) * 100);
    margin: 0 auto;
    padding-top: 25vh;
    margin-bottom: 8.21vw;
    text-align: center;
    box-sizing: border-box;
    font-size: 11.5vw;
  }
  main .inner .rotate_text {
    display: none;
  }
  main .inner .value {
    display: none;
  }
  main .inner .introduction {
    flex-direction: column;
    padding-top: 18vw;
  }
  main .inner .introduction .intro_img {
    width: 100%;
    margin: 0 auto 2vw;
    border-radius: 20%;
  }
  main .inner .introduction .intro_img img {
    width: 100%;
    max-width: 830px;
  }
  main .inner .introduction .intro_txt {
    width: 100%;
  }
  main .inner .introduction .intro_txt h2 {
    position: absolute;
    width: 100%;
    font-size: 5.3vw;
    line-height: 1.5;
  }
  main .inner .introduction .intro_txt .keyword {
    display: none;
  }
  main .inner .introduction .intro_txt .intro_desc {
    font-size: 2.7vw;
    padding: 1vw;
    line-height: 1.75;
  }
  /*About*/
  .about {
    height: auto;
  }
  .about .inner .about_left {
    clear: both;
    width: 100%;
  }
  .about .inner .about_right {
    clear: both;
    width: 100%;
  }
  .about .inner .box {
    padding: 1.25vw;
    box-sizing: border-box;
  }
  .about .inner .box .subTitle {
    font-size: 4vw;
  }
  .about .inner .box ul {
    padding: 5.521vw 0 5.521vw 5.521vw;
  }
  .about .inner .box ul li {
    font-size: 2.75vw;
    margin-bottom: 1vw;
    line-height: 1.25;
  }
  .about .inner .box ul li .atit {
    margin-right: 2.5vw;
    font-weight: 500;
  }
  .about .inner .box .exper_content li {
    line-height: 1.5;
  }
  /*skill*/
  .skill {
    height: auto;
  }
  .skill .inner .skill_container {
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .skill .inner .skill_container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .skill .inner .skill_container ul li {
    width: 100%;
    text-align: center;
    padding: 1.5vw;
    margin-bottom: 3.75vw;
  }
  .skill .inner .skill_container ul li .btn {
    font-size: 8vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container {
    width: 80%;
    height: auto;
    top: 25%;
    left: 10%;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box {
    padding: 7.43vw 5vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_title {
    font-size: 7vw;
    margin-bottom: 4.82vw;
  }
  .skill .inner .skill_container .skill_modal .skill_modal_container .skill_modal_box .skill_modal_desc {
    font-size: 2.5vw;
    line-height: 1.7;
  }
  /*pers_scroll*/
  .pers_scroll {
    height: calc(var(--var, 1vh) * 100);
    background: #ffd500;
    color: #000;
  }
  .pers_scroll .marquee_text {
    margin-bottom: 2vh;
    transform: translateY(40vh);
  }
  .pers_scroll .marquee_text .en_text, .pers_scroll .marquee_text .kr_text {
    padding: 3vh 0;
    font-size: 10vw;
  }
  /*work*/
  .work .inner .slide-wrapper {
    transform: translateY(10vh);
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-img-box {
    background: #000;
    width: 100%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-img-box img {
    width: 100%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    padding: 1.25vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title {
    font-size: 7.5vw;
    margin-bottom: 1vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .title br {
    display: none;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTitle {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subTxt {
    display: none;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon {
    position: absolute;
    width: 35%;
    bottom: -3%;
    left: 0%;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li {
    width: 10%;
    margin-right: 1.5vw;
    transform: scale(0.9);
    width: auto;
    height: auto;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .work .inner .slide-wrapper .slide-container .slide-box .slide-txt-box .subIcon li a img {
    width: 100%;
  }
  .work .inner .btn_container {
    width: 100%;
    transform: translateY(30vh);
    margin: 0 auto;
    margin-left: 10vw;
  }
  .work .inner .btn_container button {
    padding: 0.5vw;
    margin: 0.5vw;
    font-size: 3vw;
  }
  /*blog*/
  .blog {
    margin-bottom: 7vw;
    height: calc(var(--var, 1vh) * 100);
  }
  .blog .inner .title {
    margin-bottom: 15vw;
  }
  .blog .inner .blog_content {
    height: auto;
    transform: translateY(15vh);
  }
  .blog .inner .blog_content .blog_icon {
    position: static;
    width: 100%;
    transform: translateY(30%);
    margin-bottom: 5vw;
  }
  .blog .inner .blog_content .blog_icon .blog_img {
    width: 30vw;
    width: 30vw;
    max-width: 100vw;
    margin: 0 auto 20vw;
  }
  .blog .inner .blog_content .blog_icon .blog_desc {
    font-size: 3vw;
    text-align: center;
    line-height: 1.4;
  }
  .blog .inner .blog_content .blog_list {
    display: none;
  }
  /*comment*/
  .comment {
    height: calc(var(--var, 1vh) * 100);
  }
  .comment .inner .comment_list {
    transform: translateY(15vh);
    padding: 1vw;
    box-sizing: border-box;
  }
  .comment .inner .comment_list .swiper-slide {
    width: 90%;
    padding: 7vw;
  }
  .comment .inner .comment_list .swiper-slide .comment_box {
    font-size: 3.25vw;
    line-height: 1.6;
  }
  .comment .inner .comment_list .swiper-slide .commenter {
    position: absolute;
    bottom: 8%;
    left: 8%;
    line-height: 1.6;
    font-size: 2vw;
  }
  /*footer*/
  footer {
    height: calc(var(--var, 1vh) * 100);
  }
  footer .thx_para {
    padding: 3.25vw;
    font-size: 9vw;
    line-height: 1.4;
  }
  footer .footer_inner {
    width: 95%;
    max-width: 1760px;
    padding-top: 10vw;
  }
  footer .footer_inner .contact-l {
    display: none;
  }
  footer .footer_inner .contact-2 {
    width: 91.67%;
    margin: 0 auto;
    transform: translate3d(0, 15vh, 0);
  }
  footer .footer_inner .contact-2 .contact_txt {
    transform: translate3d(0, -10vh, 0);
    font-size: 3.25vw;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 6.5vw;
  }
  footer .footer_inner .contact-2 .mobile_img {
    transform: translate3d(17vw, -8vh, 0);
    display: block;
    width: 50%;
  }
  footer .footer_inner .contact-2 .mobile_img .mobile_imgBox {
    width: 100%;
  }
  footer .footer_inner .contact-2 .mobile_img .mobile_imgBox img {
    width: 50vw;
  }
  footer .footer_inner .contact-2 .contact_line {
    display: none;
  }
  footer .footer_inner .contact-2 .contact_adr .e-mail, footer .footer_inner .contact-2 .contact_adr .phone {
    font-size: 6.5vw;
    margin-bottom: 5vw;
  }
  footer .footer_inner .contact-2 .contact_adr .phone {
    margin-bottom: 12vw;
  }
  footer .footer_inner .contact-2 .contact_adr .sns {
    width: 40%;
  }
  footer .footer_inner .contact-2 .contact_adr .sns li:nth-child(4) {
    transform: translate(0, 10%);
  }
  footer .footer_inner .contact-2 .contact_adr .copyright {
    transform: translate(0, 148%);
    font-size: 1.5vw;
  }
}/*# sourceMappingURL=index_style.css.map */